<div id="footer">
  <h4>Web Dream</h5>
</div>

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
<script src="javascripts/sign-up.js"></script>
<script src="javascripts/login-popup.js"></script>
<script src='javascripts/header.js'></script>
<script src="javascripts/domain.js"></script>
<script src="javascripts/home.js"></script>
</body>
</html>
