<% include partials/header %>

    <div class="packages">
        <div class="ui equal width stackable grid">
            <div class="column">
                <div id="column-one" class="ui segment">
                    <h3>Starter</h3>
                    <h4>2.45</h4>
                    <hr>
                    <p>Unmetered SSD Storage</p>
                    <p>Unmetered Bandwidth</p>
                    <p>Up to 3 Websites</p>
                    <div class="ui small blue button">Add To Cart</div>
                </div>
            </div>
            <div class="column">
                <div id="column-two" class="ui segment">
                    <h3>Intermediate</h3>
                    <h4>4.45</h4>
                    <hr>
                    <p>Unmetered SSD Storage</p>
                    <p>Unlimited Bandwidth</p>
                    <p>Unlimited Websites</p>
                    <div class="ui small blue button">Add To Cart</div>
                </div>
            </div>
            <div class="column">
                <div id="column-three" class="ui segment">
                    <h3>Business</h3>
                    <h4>9.45</h4>
                    <hr>
                    <p>Accelerated SSD Storage</p>
                    <p>Unmetered Bandwidth</p>
                    <p>Unlimited Websites</p>
                    <div class='ui small blue button'>Add To Cart</div>
                </div>
            </div>
        </div>
    </div>

    <div class="margin">
           <div class="ui container">
         <table class="ui celled table">
        <thead>
            <tr>
                <th>
                    <div class="ui ribbon label">
                        Features
                    </div>
                </th>
                <th>Starter</th>
                <th>Mid-Grade</th>
                <th>Premium</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    Free SSL
                </td>
                <td>Check</td>
                <td>Check</td>
                <td>Check</td>
            </tr>
            <tr>
                <td>Disk Space</td>
                <td>10 Gig</td>
                <td>20 Gig</td>
                <td>Unmetered</td>
            </tr>
            <tr>
                <td>More Stuff</td>
                <td>Yes</td>
                <td>Wow</td>
                <td>So much hosting</td>
            </tr>
        </tbody>
    </table>
    </div> 
    </div>

   


    <% include partials/footer %>